<configuration>
  <system.webServer>  
    <rewrite>  
        <rules>  
          <rule name="Redirect rquests to default azure websites domain" stopProcessing="true">
            <match url="(.*)" />  
            <conditions logicalGrouping="MatchAny">
              <add input="{HTTP_HOST}" pattern="^teoscomtr\.azurewebsites\.net$" />
              <add input="{HTTP_HOST}" pattern="^www\.teos\.com\.tr$" />
            </conditions>
            <action type="Redirect" url="http://teos.com.tr/{R:0}" />  
          </rule>  
        </rules>  
    </rewrite>  
  </system.webServer>  
</configuration>  
